# POSTGRES
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

# BACKEND
DEBUG=True
SECRET_KEY=ключ
ALLOWED_HOSTS="0.0.0.0,128.0.0.1,localhost"
CELERY_BROKER_URL = "redis://127.0.0.1:6379/1"

# SMS
TWILIO_FROM=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=

# Telegram
TELEGRAM_API="https://api.telegram.org"
BOT_TOKEN=token

# EMAIL
EMAIL_HOST = smtp.example.com
EMAIL_PORT = port
EMAIL_USE_SSL = False
EMAIL_USE_TLS = True
EMAIL_HOST_USER = example@mail.com
EMAIL_HOST_PASSWORD = password
DEFAULT_FROM_EMAIL = example@mail.com

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1

